body {
    font-family: 'Arial', sans-serif;
    background-color: #eef2f3;
    margin: 0;
    padding: 0;
    color: #333;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('image/tras.png') no-repeat center center fixed;
    background-size: cover; /* Faz a imagem cobrir toda a área */
}

.login-box {
    background-color: rgba(255, 255, 255, 0.847); /* Torna o fundo da caixa semi-transparente */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 320px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    color: #22b9ac;
}

.login-image {
    width: 200px;
    margin-bottom: 40px;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #22b9ac;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #22b9ac;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #22b9ac;
}



header {
    background-color: #22b9ac;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    background-color: #333;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #22b9ac;
}

.container {
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    transition: background-color 0.3s;
}

.tab button:hover, .tab button.active {
    background-color: #22b9ac;
    color: white;
}

.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background-color: #22b9ac;
    color: white;
}

td {
    text-align: center;
}

.delete-btn {
    color: red;
    cursor: pointer;
}

#professor-nome {
    font-size: 1.2em;
    font-weight: bold;
}
